
/* ---------------------------------------------------
   MAIN NAVBAR
--------------------------------------------------- */

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  background: #242e32;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 50px;
}

.logo h2 {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
}

/* ---------------------------------------------------
   MENU (with green underline animation)
--------------------------------------------------- */

.menu {
  list-style: none;
  display: flex;
  gap: 35px;
}

.menu li {
  color: #cfcfcf;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s ease;
}

/* Hover underline */
.menu li:hover {
  color: #00ff8c;
}

.menu li:hover::after {
  width: 100%;
}

.menu li::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #00ff8c;
  width: 0%;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease;
}

/* ---------------------------------------------------
   NAVBAR ICONS
--------------------------------------------------- */

.icons {
  display: flex;
  align-items: center;
  gap: 22px;
}

.icon {
  font-size: 18px;
  color: #dcdcdc;
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  color: #00ff8c;
}

.icon-badge {
  position: relative;
   cursor: pointer;
}

.icon-badge span {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #00ff8c;
  color: #000;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------------------
   TICKETS BUTTON
--------------------------------------------------- */

.tickets-btn {
  background: #00c257;
  color: #ffffff;
  font-size: 15px;
  border: none;
  padding: 10px 26px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.tickets-btn:hover {
  background: #00e56f;
}

/* ---------------------------------------------------
   MOBILE MENU (Hamburger)
--------------------------------------------------- */

.mobile-toggle {
  display: none;
  background: none;
  font-size: 34px;
  border: none;
  color: white;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  background: #1e262a;
  padding: 20px 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.mobile-menu li {
  font-size: 18px;
  color: #dedede;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff20;
}

/* Responsive */
@media (max-width: 900px) {
  .desktop-menu,
  .desktop-icons,
  .tickets-btn {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }
}


